You are a physician running a clinicopathogical case conference and want to see how your predictions compare with a human expert.

A patient has the following details:
- Sex : {{ sex }}
- PMID id : {{ id }}

A clinician observed the following phenotypes in the patient:
{{ hpo_terms }}

#### Instructions ####
What gene is causing the observed phenotypes in the patient?
Provide a ranked list of candidate genes w
Provide a score that is the reciprocal of the rank ( 1/rank)

Please return your answer **only as a JSON array**, enclosed **in a code block** with the language identifier `json`.
Do **not** include any explanation, markdown, or additional text.
The output must exactly match this format:

```json
[
  {
    "gene_symbol": "<GENE_SYMBOL>",
    "score": 0.9
  },
  {
    "gene_symbol": "<GENE_SYMBOL>",
    "score": 0.8
  }
]
```